@using System.Web.UI.HtmlControls
@model Hunting_and_Fishing.Models.Register

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <form class="form-horizontal loginFrm">

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Username)

            @Html.TextBoxFor(model => model.Username)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email)

            @Html.TextBoxFor(model => model.Email)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password)

            @Html.PasswordFor(model => model.Password)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword)

            @Html.PasswordFor(model => model.ConfirmPassword)

        </div>
          
        <div class="form-group">

            <input type="submit" value="Sign up" class="btn btn-default" />
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

        </div>

    </form>
}
